@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

input {
  padding: 0.5rem 0.4rem;
  border: solid 1px #ccc; 
  outline: none !important;
  border-radius: 5px; 
}

.top-bar {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background: #4a4a4a;
  margin-bottom: 1rem;
  padding: 0 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.top-bar h1 {
  color: #f4f4f4;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

.transactions-container > div {
  display: flex;
  justify-content: space-between;
}

.transactions-container span {
  color: #6c63ff; 
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input[type='text'] {
  width: 100%;
  max-width: 400px; 
}

.btn {
  border: 0;
  background: #6c63ff;
  color: #f4f4f4;
  min-width: 150px;
  font-size: 1rem;
  line-height: 1.1;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px; 
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.btn-primary {
  background: #ff6b6b; 
}
